header .navbar {
  padding: 2rem 0; }
  header .navbar .logo_block p {
    font-family: 'Lato', sans-serif;
    color: black;
    font-size: 14px;
    font-weight: 300; }
    header .navbar .logo_block p:last-of-type {
      font-size: 4px;
      font-weight: 400; }
  header .navbar .navbar-nav .nav-link {
    font-family: 'Asap', sans-serif;
    color: #4d4d4d;
    font-size: 1rem;
    text-transform: uppercase;
    margin-left: 39px;
    padding: 8px 0; }
    header .navbar .navbar-nav .nav-link:hover {
      border-bottom: 2px solid #4d4d4d; }

.btn-light {
  font-family: 'Asap', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #4d4d4d;
  text-transform: uppercase;
  margin-right: 20px;
  width: 10rem;
  line-height: 50px;
  border-radius: 0;
  border: 1px solid #4d4d4d;
  background-color: rgba(0, 0, 0, 0); }
  .btn-light:hover {
    background-color: white;
    -webkit-box-shadow: 10px 20px 40px 8px #C7C7C7;
    box-shadow: 10px 20px 40px 8px #C7C7C7; }

.main_bg {
  background-image: url("../images/bg.jpg");
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  padding-top: 80px; }
  .main_bg h1 {
    font-family: 'Asap', sans-serif;
    font-size: 90px;
    color: #4d4d4d;
    font-weight: 500;
    margin: 0; }
  .main_bg p {
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #9a9a9a;
    margin-bottom: 2rem; }

.bg_left_block {
  margin-top: -80px; }

.bg_right_block {
  max-width: 574px;
  display: inline-block;
  margin-left: 30px; }
  .bg_right_block img {
    display: block;
    width: 100%; }

.about_me_container {
  padding: 109px 0 124px; }
  .about_me_container .about_me_img {
    max-width: 574px;
    display: inline-block; }
    .about_me_container .about_me_img img {
      display: block;
      width: 100%; }
  .about_me_container .btn-light {
    width: 244px; }
  .about_me_container p {
    max-width: 470px;
    font-family: 'Asap', sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #4d4d4d;
    margin: 0 0 40px; }

.header3 {
  font-family: 'Asap', sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 49px;
  color: #7b7b7b;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 0 0 15px; }
  .header3:before {
    height: 4px;
    width: 60px;
    background-color: #7a7a7a;
    content: "";
    display: block;
    margin-bottom: 19px; }

.services {
  background-color: #f6f6f6;
  padding: 118px 0 32px; }
  .services .header3 {
    margin-bottom: 61px; }
    .services .header3:before {
      margin: auto;
      margin-bottom: 19px; }
  .services .icon_img {
    max-width: 89px;
    max-height: 82px;
    display: inline-block; }
    .services .icon_img img {
      display: block;
      width: 100%; }
  .services p {
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #4d4d4d;
    margin-bottom: 80px; }

.skills {
  padding: 117px 0 127px; }
  .skills .header3 {
    margin-bottom: 62px; }
    .skills .header3:before {
      margin: auto;
      margin-bottom: 19px; }
  .skills .schedule_img {
    max-width: 996px;
    display: inline-block; }
    .skills .schedule_img img {
      display: block;
      width: 100%; }

.carousel_block {
  padding: 124px 0 118px; }
  .carousel_block .header3 {
    margin-bottom: 56px; }
    .carousel_block .header3:before {
      margin: auto;
      margin-bottom: 19px; }
  .carousel_block .carousel_img {
    width: 161px;
    height: 161px;
    display: inline-block; }
    .carousel_block .carousel_img img {
      display: block;
      width: 100%; }
  .carousel_block .carousel_block__inner {
    padding: 77px 118px;
    border: 1px solid black; }
    .carousel_block .carousel_block__inner h4 {
      color: #212121;
      font-family: 'Asap', sans-serif;
      font-weight: 500;
      font-size: 30px;
      text-transform: uppercase;
      margin-bottom: 0; }
    .carousel_block .carousel_block__inner .position {
      color: #212121;
      font-family: 'Asap', sans-serif;
      font-style: italic;
      font-size: 12px;
      text-transform: uppercase; }
    .carousel_block .carousel_block__inner .description {
      text-transform: uppercase;
      font-family: 'Asap', sans-serif;
      color: #212121;
      font-size: 16px;
      line-height: 26px; }

.owl-dots {
  position: absolute;
  bottom: -30px;
  text-align: center;
  width: 100%; }

.owl-dot span {
  width: 12px;
  height: 12px;
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  margin-right: 4px;
  margin-left: 4px; }

.owl-dot.active span {
  background-color: black; }

.stats {
  background-color: #f6f6f6;
  padding: 50px 0 62px;
  margin-bottom: 154px; }
  .stats .num {
    color: #212121;
    font-size: 30px;
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin: 30px 0 0; }
  .stats .definition {
    color: #212121;
    font-size: 22px;
    font-family: 'Asap', sans-serif;
    text-transform: uppercase;
    margin: 0; }

.portfolio {
  background-color: #f6f6f6;
  padding: 120px 0 125px; }
  .portfolio .portfolio_img {
    max-width: 368px;
    display: inline-block;
    margin-bottom: 30px; }
    .portfolio .portfolio_img img {
      display: block;
      width: 100%; }
      .portfolio .portfolio_img img:hover {
        -webkit-box-shadow: 10px 20px 40px 8px #C7C7C7;
        box-shadow: 10px 20px 40px 8px #C7C7C7; }
  .portfolio .header3 {
    margin-bottom: 56px; }
    .portfolio .header3:before {
      margin: auto;
      margin-bottom: 19px; }
  .portfolio .btn-light {
    width: 190px;
    display: inline-block;
    margin: auto; }
    .portfolio .btn-light:focus {
      background-color: inherit; }

footer {
  background-image: url("../images/bg_footer.jpg");
  background-size: cover;
  padding-top: 142px; }
  footer .header3 {
    color: white; }
    footer .header3:before {
      margin: auto;
      margin-bottom: 19px;
      background-color: white; }
  footer .form-group {
    margin-bottom: 0; }
  footer input.form-control {
    height: 57px; }
  footer .form-control {
    border-radius: 0;
    border: none;
    resize: none;
    margin-bottom: 30px;
    font-family: 'Asap', sans-serif;
    color: #212121;
    font-size: 16px;
    line-height: 57px; }
  footer textarea.form-control {
    height: 208px; }
  footer .btn-light {
    background-color: white;
    margin-bottom: 57px; }
    footer .btn-light span {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 16px;
      color: #4d4d4d; }

.upper_footer_block {
  border-bottom: 1px solid white; }

.lower_footer_block p {
  margin: 0;
  line-height: 83px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; }

/*# sourceMappingURL=style.css.map */
